html, body{
    margin: 0;
    padding: 0;
}
blockquote{
    background-color: red;
}
.titulo{
    background-color: #8B8386;
    color: aliceblue;
    text-align: center;
    padding: 50px;
    margin: 0px;
    text-transform: uppercase;
}